<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Core">
            <directory>./Modules/Core/Tests/</directory>
        </testsuite>
        <testsuite name="Dashboard">
            <directory>./Modules/Dashboard/Tests/</directory>
        </testsuite>
        <testsuite name="Media">
            <directory>./Modules/Media/Tests/</directory>
        </testsuite>
        <testsuite name="Menu">
            <directory>./Modules/Menu/Tests/</directory>
        </testsuite>
        <testsuite name="Page">
            <directory>./Modules/Page/Tests/</directory>
        </testsuite>
        <testsuite name="Setting">
            <directory>./Modules/Setting/Tests/</directory>
        </testsuite>
        <testsuite name="Tag">
            <directory>./Modules/Tag/Tests/</directory>
        </testsuite>
        <testsuite name="Translation">
            <directory>./Modules/Translation/Tests/</directory>
        </testsuite>
        <testsuite name="User">
            <directory>./Modules/User/Tests/</directory>
        </testsuite>
        <testsuite name="Workshop">
            <directory>./Modules/Workshop/Tests/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <!-- <server name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <server name="DB_DATABASE" value=":memory:"/> -->
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
